<div class="leftSide">
    <p>left side</p>
    <ul>
        <li>link 01</li>
        <li>link 02</li>
        <li>link 03</li>
        <li>link 04</li>
        <li>link 05</li>
    </ul>
</div>
<div class="centerMain">
    <p id="mainTitle">모집중인 과정</p>
    <p id="main">center main</p>
</div>